<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <!-- Configurations for data collectors -->
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector uri="datacollector://microsoft/VideoRecorder/1.0" assemblyQualifiedName="Microsoft.VisualStudio.TestTools.DataCollection.VideoRecorder.VideoRecorderDataCollector, Microsoft.VisualStudio.TestTools.DataCollection.VideoRecorder, Version=15.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" friendlyName="Screen and Voice Recorder">
        <!--Video data collector was introduced in Visual Studio 2017 version 15.5 -->
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
  
  <!-- Parameters used by tests at runtime -->
  <TestRunParameters>
    <Parameter name="ApplicationUrl" value="https://sand-ccs-sso.london.cloudapps.digital/" />
    <Parameter name="RegistrationUrl" value="https://sand-ccs-sso.london.cloudapps.digital/manage-org/register" />
    <Parameter name="AdminUsername" value="autoadmin@yopmail.com" />
    <Parameter name="AdminPassword" value="Test_12345" />
    <Parameter name="BrowserToRun" value="firefox" />
  </TestRunParameters>

</RunSettings>